# Entornos virtuales
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Sistema Operativo
.DS_Store
Thumbs.db

# Configuración local de IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
